body {
  	background: #eee;
  	font: 12px Lucida sans, Arial, Helvetica, sans-serif;
	color: #333;
}

#articleName{
	width: 40%;
}

.article-space{
	margin-left: 20%;
	margin-right: 20%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}